# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.pytest_cache/
.dmypy.json

# Virtual environments
env/
venv/
ENV/
env_bak/
venv.bak/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data (очень важно!)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/*
!models/.gitkeep

# Outputs
outputs/*

# Jupyter
.ipynb_checkpoints

# OS
Thumbs.db
Desktop.ini
.DS_Store